<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">˙
    <title>Document</title>
</head>
<body>
    <form action="">
        <div><label for="email">Email(1):</label><input type="text" placeholder="please enter your email" required></div>
        <div><label for="password">Password(2):</label><input type="text" placeholder="" required></div>
        <div><label for="password-confirm">Retype Password(3):</label><input type="text" placeholder="" required></div>
        <div><label for="name">Nickname(4):</label><input type="text" placeholder="please enter your nickname" required></div>
        <div><input type="submit" value="Signup(5)"></div>
    </form>
</body>
</html>