html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main-box-tile, .main-box-content  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-style: solid;
}

.chatroom-name, .chatroom-owner {
    margin:1rem;
}

.chatbox {
    width: 70%;
    border-style: solid;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 60px;
    left: 0.5em;
    right: 0.5em;
    bottom: 3em;
    overflow: auto;
}

.client-list {
    width: 20%;
    border-style: solid;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 60px;
    /* left: 0.5em; */
    right: 0.5em;
    bottom: 3em;
    overflow: auto;
}


.main-box-message {
    display: flex;
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

#form {
    width: calc(70% + 1em);
    padding: 0;
}

#msg-input {
    width: 100%;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-style: solid;
    padding: 0 0.5rem;
    border-radius: 0.1rem;
}

.submit-btn:hover {
    cursor: pointer;
}

/* #log {
    background: white;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 3em;
    overflow: auto;
}

#form {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 0px;
    width: 100%;
    overflow: hidden;
} */