* {
  margin: 0;
  padding: 0;
}
html {
  opacity: 1;
}

/* login & register*/

.login-box {
  display: block;
  position: fixed;
  top:80px;
  left: calc(50% - 170px);
  width:340px;
  /* height:275px; */
  background-color: white;
  z-index: 4;
}
.register-box {
  display: none;
  position: fixed;
  top:80px;
  left: calc(50% - 170px);
  width:340px;
  /* height:275px; */
  background-color: white;
  z-index: 4;
}
.login-header, .register-header {
  height:10px;
  background: linear-gradient(to top left, #6baebf, #a1d7e8);
}

.login-title, .register-title {
  position: relative;
  margin:15px;
  text-align: center;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
}

.login-cancel, .register-cancel {
  position: absolute;
  top: 0;
  right: 17px;
  width: 16px;
  height: 16px;
}
.login-cancel:hover , .register-cancel:hover, .nav-schedule:hover {
  cursor: pointer;
}
.login-email, .login-password,.register-name, .register-email, .register-password  {
  margin:0 15px 10px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 5px;
  width: 310px;
  height: 47px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  padding-left:15px;
}

.login-btn, .register-btn {
  display: flex;
  width: 310px;
  height: 47px;
  margin:0 15px 10px;
  background: #448899;
  border-radius: 5px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 16px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  border: none;
}
.login-btn:hover, .register-btn:hover {
  cursor: pointer;
}
.login-status, .register-status {
  display:none;
  justify-content: center;
  /* text-align: center; */
  width: 310px;
  height: 22px;
  margin:0 15px 15px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;

}
.login-register, .register-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 22px;
  margin:0 15px 15px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}
.login-register:hover, .register-login:hover {
  cursor: pointer;
}

@media (min-width: 1200px) {

}

@media (max-width: 1000px) {
}

@media (max-width: 600px) {
}
